@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --foreground-rgb: @apply text-zinc-900;
  --background-rgb: #fefefe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: @apply text-zinc-300;
    --background-rgb: #121212;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skillBadge {
  color: -webkit-linear-gradient(#a04a4a, #ff0000) !important;
}
