@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.page {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.sleek-scrollbar {
		/* -- Fallback for browsers that don't support custom scrollbars -- */
		/* (No specific fallback needed, they'll use default OS scrollbars) */

		/* -- Standard (Firefox) -- */
		scrollbar-width: thin;
		/* "auto" or "thin" */
		scrollbar-color: #a0a0a0 #f1f1f1;
		/* thumb color track color */
		&::-webkit-scrollbar-track {
			/* Let's make the scrollbar track slightly lighter */
			background: #f1f1f1;
			border-radius: 10px;
			/* Optional: round the corners of the track */
		}
		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #a0a0a0;
			/* A slightly darker grey */
			border-radius: 10px;
			/* Round the corners of the thumb */
			border: 2px solid #f1f1f1;
			/* Optional: creates padding around thumb */
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #707070;
			/* Darken thumb on hover */
		}
		/* Overall scrollbar */
		&::-webkit-scrollbar {
			width: 10px;
			/* Width of vertical scrollbar */
			height: 10px;
			/* Height of horizontal scrollbar */
		}
		/* Optional: Hide scrollbar buttons (arrows) for a cleaner look */
		&::-webkit-scrollbar-button {
			display: none;
		}
		/* Optional: Style the corner piece between vertical and horizontal scrollbars */
		&::-webkit-scrollbar-corner {
			background: #f1f1f1;
			/* Match track color */
		}
	}
}

:root {
	color-scheme: dark;
	--foreground: @apply text-zinc-900;
	--background: @apply bg-zinc-50;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: @apply text-zinc-300;
		--background: @apply bg-zinc-900;
	}
}

html {
	background: var(--background);
	display: flex;
	height: 100dvh;
	width: 100dvw;
	justify-content: center;

	* {
		a,
		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--foreground);
		}
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.skillBadge {
	color: -webkit-linear-gradient(#a04a4a, #ff0000) !important;
}
